<div ng-controller="shareSpaceCtrl">

    <div data-ng-init="init()">
        <div class="col-lg-12 col-md-12 col-xs-12 ">
            <div class="well">
                <h3 class="text-center title">Share Space</h3>
                <input 
                    type="file" 
                    ngf-select 
                    ng-model="file" 
                    name="file" 
                    ngf-multiple="true"
                    ngf-pattern="'image/*'"
                    accept="image/*" 
                    ngf-max-size="20MB" 
                    />
                <i ng-show="upload_form.file.$error.required">*required</i><br>
                <i ng-show="upload_form.file.$error.maxSize">File too large 
                    {{file.size / 1000000|number:1}}MB: max 20M</i>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 ">
            <div class="well">
                <form class="smart-form contactus_form"   name="myForm" role="form" ng-submit="myForm.$valid && shareSpace(myForm)" novalidate>
                    <div class="row">
                        <div class=" col-lg-12 col-md-12 form-group">
                            <label >Full name of Co-working space </label>
                            <input type="text" name="coWorkingSpace" class="form-control" data-ng-model="spaceForm.coWorkingSpace" required/>
                            <span class="text-danger" ng-if="myForm.coWorkingSpace.$invalid && myForm.$submitted">The Field is required.</span>
                        </div>
                        <div class=" col-lg-12 col-md-12 form-group" >
                            <label >Main Address of the job </label>
                            <div class="form-group">
                                <input type="text" required  ng-model="spaceForm.address" vs-google-autocomplete="options" name="address"  class="form-control">
                                <span class="text-danger" ng-if="myForm.address.$invalid && myForm.$submitted">The Field is required.</span>
                            </div>
                        </div>
                        <div class=" col-lg-12 col-md-12 form-group">
                            <select class="form-control" name="spaceType"   ng-options="s as s.name for s in spaceDetails.space" required  data-ng-model="spaceForm.spaceType">
                                <option value="">Select Type Of Space</option>
                                <option >{{"name"}}</option>
                            </select>
                            <span class="text-danger" ng-if="myForm.spaceType.$invalid && myForm.$submitted">The Field is required.</span>
                        </div>
                        <div class=" col-lg-12 col-md-12 form-group">
                            <label >Add description about your workspace(40 characters) </label>
                            <input type="text" name="workSpaceDetail" class="form-control" data-ng-model="spaceForm.workSpaceDetail" required/>
                            <span class="text-danger" ng-if="myForm.workSpaceDetail.$invalid && myForm.$submitted">The Field is required.</span>
                        </div>
                        <div class=" col-lg-12 col-md-12 form-group">
                            <label>About our coworking space</label>
                            <textarea class="form-control" required  name="description" placeholder="About" rows="5" data-ng-model="spaceForm.aboutCoworking"></textarea>
                            <span class="text-danger" ng-if="myForm.description.$invalid && myForm.$submitted">The Field is required.</span>
                            <hr/>
                        </div>

                        <div class=" col-lg-12 col-md-12 form-group text-center">
                            <table style="width:75%; ">
                                <tr ng-repeat="hour in spaceForm.openingHours">
                                    <td>{{hour.Day}}</td>
                                    <td ng-init="getClock();">
                                        <div class="input-group clockpicker" data-autoclose="true" ng-model="hour.startFrom">
                                            <input type="text" class="form-control" ng-blur="checkTime(hour, 0)" ng-disabled="hour.Disable"    >
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group clockpicker" data-autoclose="true" ng-model="hour.upTo">
                                            <input type="text" class="form-control" ng-blur="checkTime(hour, 1)" ng-disabled="hour.Disable"    >
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <i class="fa fa-2x text-grey bg_white padding-5 fa-times-circle" ng-if="!hour.Disable" title="Enable/Disable day information" ng-click="hour.Disable = !hour.Disable" id="Monday"></i>
                                        <i class="fa fa-2x text-grey bg_white padding-5 fa-check-circle" ng-if="hour.Disable" title="Enable/Disable day information" ng-click="hour.Disable = !hour.Disable" id="Monday"></i>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <hr/>
                        <div class="col-lg-12 col-md-12 form-group">
                            <table style="width:100%; ">
                                <tr>
                                    <th></th>
                                    <th>Quantity</th>
                                    <th>Capacity of persons(Per 1 quantity)</th>
                                    <th>M2(Per 1 quantity)</th>
                                    <th>Tarif per hour(All taxes included)</th>
                                    <th>Tarif per half day(All taxes included)</th>
                                    <th>Tarif per day(All taxes included)</th>
                                    <th>Tarif per month(All taxes included)</th>
                                </tr>
                                <tr ng-repeat="data in spaceForm.categoryOfSpace" style="height: 10%; overflow-y: auto ">
                                    <td style="width:20%; ">
                                        <select class="form-control" name="jobCompensation" ng-change="checkValid()"   ng-options="s as s.name for s in spaceDetails.categories"   data-ng-model="data.categoryOfSpace">
                                            <option value="">Select Category Of Space</option>
                                            <option >{{"name"}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="number" ng-change="checkValid()" class="form-control" data-ng-model="data.Quantity" />
                                    </td>
                                    <td >
                                        <input type="number" ng-change="checkValid()" class="form-control" data-ng-model="data.Capacityofpersons" />
                                    </td>
                                    <td >
                                        <input type="number" ng-change="checkValid()" class="form-control"  data-ng-model="data.M2"   />
                                    </td>
                                    <td >
                                        <input type="number" ng-change="checkValid()" class="form-control"  data-ng-model="data.Tarifperhour" />
                                    </td>
                                    <td >
                                        <input type="number" ng-change="checkValid()" class="form-control" data-ng-model="data.Tarifperhalfday" />
                                    </td>
                                    <td >
                                        <input type="number" ng-change="checkValid()" class="form-control" data-ng-model="data.Tarifperday" />
                                    </td>
                                    <td >
                                        <input type="number" ng-change="checkValid()" ng-disabled="data.categoryOfSpace.name === 'Meeting room' || data.categoryOfSpace.name === 'Conference area'" class="form-control" data-ng-model="data.Tarifpermonth" />
                                    </td>
                                </tr>

                            </table>
                        </div>
                        <div class="col-lg-12 col-md-12 text-center">
                            <span class="text-center text-danger" ng-if="spaceCatError && myForm.$submitted">Please Fill Above Info Properly</span>
                        </div>
                        <div class="col-lg-12 col-md-12 form-group">
                            <button class="btn btn-success" ng-click="addSpace()"><i class="fa fa-plus"></i> Add</button>
                        </div>
                        <div class="col-lg-12 col-md-12 form-group">
                            <label >Average response time for request information </label>
                            <div class=" form-group">
                                <input type="radio" ng-model="spaceForm.requestInformation" value="Less then an hour">Less then an hour <br/>
                                <input type="radio" ng-model="spaceForm.requestInformation" value="Under half day">Under half day<br/>
                                <input type="radio" ng-model="spaceForm.requestInformation" value="Under 48 hours">Under 48 hours<br/>
                                <input type="radio" ng-model="spaceForm.requestInformation" value="Under 24 hours">Under 24 hours<br/>
                                <input type="radio" ng-model="spaceForm.requestInformation" value="Unknown">Unknown
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 form-group">
                            <label>Contact informations</label>
                            <div class="col-lg-12 col-md-12 form-group">
                                <label class="col-lg-3 col-md-3 ">Mail</label><span class="col-lg-6 col-md-6"><input type="email" name="email" ng-model="spaceForm.email" class=" form-control" required/></span>
                                <span class="text-danger" ng-if="myForm.email.$invalid && myForm.$submitted">The Field is required.</span>
                            </div>
                            <div class="col-lg-12 col-md-12 form-group">
                                <label class="col-lg-3 col-md-3 ">Country</label>
                                <span class="col-lg-6 col-md-6">
                                    <select class="form-control" name="country" ng-change="getISOcode(spaceForm.country)"   ng-options="c as c.name for c in countries.country" required  data-ng-model="spaceForm.country">
                                        <option value="">Please Select Country</option>
                                        <option >{{'name'}}</option>
                                    </select>
                                </span>
                                <span class="text-danger" ng-if="myForm.country.$invalid && myForm.$submitted">The Field is required.</span>
                            </div>
                            <div class="col-lg-12 col-md-12 form-group">
                                <label class="col-lg-3 col-md-3 ">Phone Number</label><span class="col-lg-1 col-md-1"> <input class="form-control"  data-ng-model="spaceForm.country.code" disabled/></span><span class="col-lg-5 col-md-5"><input type="number" name="phoneNumber" required ng-model="spaceForm.number" class=" form-control"/></span>
                                <span class="text-danger" ng-if="myForm.phoneNumber.$invalid && myForm.$submitted">The Field is required.</span>
                            </div>

                        </div>
                        <div class="col-lg-12 col-md-12 form-group text-center">
                            <input type="submit" class="btn btn-success" value="Post a space"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<style>
    .title {
        color: grey;
    }
    table, th, td {

    }
    th, td {
        padding: 10px;
    }
    .button {
        -moz-appearance: button;
        /* Firefox */
        -webkit-appearance: button;
        /* Safari and Chrome */
        padding: 10px;
        margin: 10px;
        width: 70px;
    }
    .drop-box {
        background: #F8F8F8;
        border: 5px dashed #DDD;
        width: 200px;
        height: 65px;
        text-align: center;
        padding-top: 25px;
        margin: 10px;
    }
    .dragover {
        border: 5px dashed blue;
    }
</style>