<div class="container" ng-controller="userProfileCtrl">  
    <div ng-init="init()">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">  <h4 >User Profile</h4></div>
                <div class="panel-body">

                    <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4" ng-if="!defaultImage">
                        <img 
                            type="file" 
                            ngf-select 
                            ng-model="file" 
                            name="file" 
                            ngf-multiple="true"
                            ngf-pattern="'image/*'"
                            accept="image/*" 
                            ng-change="upload(file)"
                            ngf-max-size="20MB" 
                            alt="User Pic" src="http://127.0.0.1:8090/getUserImage/{{userId}}" id="profile-image1" class="img-circle img-responsive"> 
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4" ng-if="defaultImage">
                        <img 
                            type="file" 
                            ngf-select 
                            ng-model="file" 
                            name="file" 
                            ngf-multiple="true"
                            ngf-pattern="'image/*'"
                            accept="image/*" 
                            ng-change="upload(file)"
                            ngf-max-size="20MB" 
                            alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive"> 
                    </div>

                    <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8" >
                        <div class="container" >
                            <h2>John Doe</h2>
                            <p>an   <b> Employee</b></p>
                        </div>
                        <hr>
                        <ul class="container details" >
                            <li><p><span class="glyphicon glyphicon-user one" style="width:50px;"></span>i.rudberg</p></li>
                            <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>somerandom@email.com</p></li>
                        </ul>
                        <hr>
                        <div class="col-sm-5 col-xs-6 tital " >Date Of Joining: 15 Jun 2016</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>